<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ATM_DB_Conn"
			 connectionString="Data Source=desktop-u4ii76v\sqlexpress;Initial Catalog=ATM_DB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
